<template>
  <el-table :data="tableData" style="width: 100%">
    <el-table-column prop="fullname" label="ФИО" width="180"></el-table-column>
    <el-table-column prop="date" label="Дата рождения" width="180"></el-table-column>
    <el-table-column prop="address" label="Адресс" width="180"></el-table-column>
    <el-table-column prop="city" label="Город"></el-table-column>
    <el-table-column prop="phone" label="Телефон" width="180"></el-table-column>
  </el-table>
</template>

<script>
export default {
  data() {
    return {
      tableData: []
    }
  },
  mounted() {
    this.tableData = JSON.parse(localStorage.getItem('crudapp'))
  }
};
</script>
