<template>
  <el-container>
    <el-main>
      <el-row type="flex" justify="center">
        <el-col :xs="24" :sm="18" :md="14" :lg="12">
           <nuxt />
        </el-col>
      </el-row>
    </el-main>
  </el-container>
</template>
