<template>
    <div>
      <el-form
      :model="form"
      :rules="rules"
      ref="form"
      label-position="top"
      @submit.native.prevent="onSubmit"
    >

      <h1 class="mb">Добавить нового пользователя</h1>

      <el-form-item label="ФИО" prop="fullname">
        <el-input
          v-model="form.fullname"
        />
      </el-form-item>

      <el-form-item label="Дата рождения" prop="dates">
          <date-dropdown
              min="1960" 
              max="2019"
              v-model="selectedDate" 
              months-names="Январь, Февраль, Март, Апрель, Май, Июнь, Июль, Август, Сентябрь, Октябрь, Ноябрь, Декабрь">
          </date-dropdown>
      </el-form-item>    

      <el-form-item label="Адрес" prop="address">
          <el-input
              v-model="form.address"
          />
      </el-form-item>

      <el-form-item label="Город" prop="city">
          <el-select v-model="form.city" filterable placeholder="Select">
              <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
              </el-option>
          </el-select>
      </el-form-item>

      <VuePhoneNumberInput :required="true" :only-countries="countryFilter" v-model="form.phone" style="margin-bottom: 2rem;"/>

      <el-form-item>
        <el-button
          type="primary"
          native-type="submit"
          round
          :loading="loading"
        >
          Добавить
        </el-button>
      </el-form-item>
    </el-form>
    
    <el-button @click="$router.push('/')" type="primary" style="margin-top: 2rem;">К списку</el-button>

  </div>
</template>

<script>
import VuePhoneNumberInput from 'vue-phone-number-input';
import DateDropdown from 'vue-date-dropdown'
import 'vue-phone-number-input/dist/vue-phone-number-input.css';

export default {
    data() {
    return {
        countryFilter: ['RU', 'UA', 'KZ', 'BY'],

        loading: false,
        form: {
            fullname: '',
            selectedDate: '',
            address: '',
            city: '',
            phone: ''
        },

        rules: {
            fullname: [
                { required: true, message: 'ФИО не может быть пустым', trigger: 'blur' },
                { min: 3, max: 100, message: 'Длина должна быть больше 3 и меньше 100 символов', trigger: 'blur' }
            ],
            address: [
                { required: true, message: 'Адресс поста не может быть пустым', trigger: 'blur' }
            ],
            city: [
                { required: true, message: 'Пожалуйста выберите город', trigger: 'blur' }
            ],
            selectedDate: [
                { required: true, message: 'Пожалуйста укажите дату рождения', trigger: 'blur' }
            ],
            phone: [
                { required: true, message: 'Укажите свой телефон', trigger: 'blur' }
            ]
        },

        options: [{
          value: 'Москва',
          label: 'Москва'
        }, {
          value: 'Санкт-Петербург',
          label: 'Санкт-Петербург'
        }, {
          value: 'Казань',
          label: 'Казань'
        }, {
          value: 'Сочи',
          label: 'Сочи'
        }, {
          value: 'Уфа',
          label: 'Уфа'
        }],
    }
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate(async valid => {
        if (valid) {
            this.loading = true

            if(!this.form.phone || 0 === this.form.phone.length){
              this.$message.error('Укажите свой телефон')
              this.loading = false
              return
            }

            const formData = {
              fullname: this.form.fullname,
              date: this.selectedDate,
              address: this.form.address,
              city: this.form.city,
              address: this.form.address,
              phone: this.form.phone
            }

            await this.$store.dispatch('data/saveData', formData)

            this.loading = false

            this.$message.success('Пользователь добавлен')
        } else {
          this.$message.warning('Форма не валидна')
        }
      })
    }
  },
  components: {
      VuePhoneNumberInput,
      DateDropdown
  }
}
</script>
