<template>
  <div>
    <crudTable class="crud-table"/>

    <el-button @click="$router.push('/add')" type="primary" style="margin-top: 2rem;">Добавить пользователя</el-button>
   </div>
</template>

<script>
import crudTable from '@/components/table'

export default {
  head: {
    title: 'Главная'
  },
  components: {
    crudTable
  }
}
</script>

<style lang="scss" scoped>
.crud-table {
  margin-top: 5rem;
}
</style>
